<body onload="init();">
<div id="hiddenModals">
    <%- include(`./partials/chat_modals`) %>
    <%- include(`./partials/notification_modal`) %>
</div>

<div class="jumbotron jumbotron-fluid shadow rounded bg-gradient m-3 mb-4" id="home_header">
    <div class="container">
        <h1 class="display-4 text-white">COM3504: The Chamber of Secrets.</h1>
        <p class="lead text-white">Team Champions secret messaging project</p>
    </div>
</div>
<div id="homeOfflineAlert" class="alert alert-warning text-center" role="alert" style="display: none">
    <strong>Warning!</strong> No Internet Connection.
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-3" id="home">
    <div class="col">
        <div id="initial_form" style="display: block" class="card mb-3 shadow">
            <%- include(`./partials/image_browsing`) %>
        </div>
    </div>

    <div class="col">
        <div id="image_upload" style="display: block" class="card mb-3 shadow">
            <%- include(`./partials/image_upload`) %>
        </div>
    </div>

    <div class="col">
        <div id="container" style="display: block" class="card mb-3 shadow">
            <%- include(`./partials/camera_upload`) %>
        </div>
    </div>
</div>

<div id="chat_interface" class="card border-0" style="display: none; position: fixed; width: 100%;">
    <%- include(`./partials/chat_interface`) %>
</div>

</body>
