<div class="card-header p-2">
    <h2>Snapshot Upload</h2>
    <p>Take a snapshot and upload it.</p>
</div>
<video autoplay></video>
<canvas id="my_canvas"></canvas>
<button onclick="captureImage()">Open camera</button>
<button onclick="captureImage()">Take snapchat</button>

<form id=“xForm" onsubmit="uploadImage()">
    <input type="hidden" name="base64" id="base64" value="">
    <p><input type="submit" name="g" value="Upload snapshot" id="snapshotUpload" onclick="saveImage()"></p>
</form>
