<!-- Modals -->

<!--CANVAS OPTIONS-->
<div class="modal bd-example-modal-sm" id="canvasModal" tabindex="-1" role="dialog"
     aria-labelledby="canvasModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="canvasModalLabel">Canvas Options</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="mt-1 font-16" for="lineOutput">Line width set to: <span id="lineOutput" class="font-16">5</span></label>
                <input type="range" class="custom-range" min="1" max="10" value="5" step="1" id="lineWidth">

                <div id="canvasBox">
                    <label for="canvasColorPicker">Canvas Annotation color:</label>
                    <input type="color" value="#ff0000" id="canvasColorPicker">
                    <div id="canvasOutput">Color set to: #ff0000</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" onclick="openCanvasOption(true);">Send KG</button>
            </div>
        </div>
    </div>
</div>

<!--MOVE ROOMS-->
<div class="modal" id="imageModal" tabindex="-1" role="dialog"
     aria-labelledby="imageModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="imageModalLabel">Image Options</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return false;">
                <div class="modal-body">
                    <label for="images"> Available Images </label>
                    <select id="modal_image_url" class="custom-select">
                        <option selected>Select Image from List</option>
                    </select>
                    <p class="form-group mt-3">
                        <label for="name"> Direct Image URL </label>
                        <input type="text" id="modal_image_direct_url" name="image_direct_url" class="form-control" placeholder="Leave empty if you have selected the image above">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" type="submit"
                            onclick="sendNewRoom()" data-dismiss="modal">Send to Group</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Knowledge Graph OPTIONS-->
<div class="modal" id="kgModal" tabindex="-1" role="dialog"
     aria-labelledby="kgModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="kgModalLabel">Knowledge Graph Options</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div>
                    <%- include(`knowledge_graph`) %>
                </div>
                <div id="kgBox">
                    <div id="kgOutput" value="#ff0000" class="m-1">Color set to: #ff0000</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" onclick="openCanvasOption(false);">Change Color</button>
            </div>
        </div>
    </div>
</div>
