<div id="chat-header" class="card-header border-0 bg-gradient left-0">
    <div class="row card-title">
        <div class="col-10">
            <h4 class="d-inline">Welcome </h4>
            <h4 id="who_you_are" class="d-inline"></h4>
        </div>
        <div class="col-2 text-right">
            <button type="button" class="close" aria-label="Close">
                <a class="text-decoration-none" href="/">&times;</a>
            </button>
        </div>
    </div>
    <div class="card-subtitle text-dark">
        <h6 class="d-inline">You are in room</h6>
        <h6 id="in_room" class="d-inline"></h6>
    </div>
</div>

<div id="chat-image" class="card-body pt-0">
    <div class="card-header white-bg text-center">
        <img id="image" height="100%" class="canvas-max-height image-fluid shadow img-thumbnail" crossorigin="Anonymous">
        <canvas id="canvas" class="canvas-max-height image-fluid shadow img-thumbnail"></canvas>
    </div>
</div>
<div id="offlineAlert" class="alert alert-warning text-center" role="alert" style="display: none">
    <strong>Warning!</strong> No Internet Connection. Chats and Annotations are not being sent. Knowledge graphs are unavailable
</div>

<div id="history" class="card-body overflow-auto pt-0"></div>
<div id="input" class="card-footer text-white left-0">
    <form onsubmit="return false;">
        <div class="input-group">
            <input autocomplete="off" type="text" class="form-control" id="chat_input" name="chat_input" placeholder="Enter Chat Here" aria-label=""
                   aria-describedby="basic-addon1">
            <div class="input-group-append">
                <div class="btn-group dropup">
                    <button id="chat_send" class="btn btn-outline-info" type="submit" onclick="sendChatText()">
                        Send
                    </button>
                    <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item canvas-clear">Clear Canvas</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#canvasModal">Canvas Options</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#imageModal">Link New Image</a>
                        <a id ="kgButton" class="dropdown-item" data-toggle="modal" data-target="#kgModal">Send Knowledge Graph</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
