<div class="card-header p-2">
    <h2>Image Upload</h2>
    <p>Please fill in all the required information before uploading your images to our server</p>
</div>

<form id="upload_image" onsubmit="return false;" class="card-body p-2">
    <p class="form-group">
        <label for="image_title"> Image Title </label>
        <input type="text" id="image_title" name="image_title" class="form-control" aria-describedby="image_title"
               placeholder="Enter image title">
    </p>

    <p class="form-group">
        <label for="image_author"> Image Author </label>
        <input type="text" id="image_author" name="image_author" class="form-control" aria-describedby="image_author"
               placeholder="Enter author name">
    </p>

    <p class="form-group">
        <label for="image_description"> Image Description </label>
        <textarea rows="2" type="text" id="image_description" name="image_description" class="form-control"
                  aria-describedby="image_description" placeholder="Enter image description"></textarea>
    </p>

    <label for="customFile"> Image File </label>
    <div class="custom-file mb-3">
        <label class="custom-file-label text-muted" for="customFile"> Select image </label>
        <input type="file" class="custom-file-input from-control" id="customFile" onchange="getBase64String()" accept="image/*">
    </div>
    <button id="image_loader" class="btn btn-outline-success mt-3 w-100"
            onclick="uploadImage(); MongoOnSubmit();">Upload Image
    </button>
</form>
