<div class="card-header p-2">
    <h2>Start/Join a Meeting</h2>
    <p>Please insert the id of the Room you want to Join, click Generate Room if you do not have a room id</p>
</div>

<form onsubmit="return false;" class="card-body p-2">
    <p class="form-group">
        <label for="name"> Your Name </label>
        <input type="text" id="name" name="name" class="form-control" aria-describedby="userName" placeholder="Enter your name">
    </p>

    <label for="roomNo"> Your Room </label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="roomNo" name="roomNo" placeholder="Enter/generate room number" aria-label=""
               aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button id="roomNoGenerator" class="btn btn-outline-primary" type="button" onclick="generateRoom()">
                Generate Room
            </button>
        </div>
    </div>

    <label for="images"> Available Images </label>
    <select id="image_url" class="custom-select">
        <option selected>Select image from list</option>
    </select>

    <p class="form-group mt-3">
        <label for="image_direct_url"> Direct Image URL </label>
        <input type="text" id="image_direct_url" name="image_direct_url" class="form-control" placeholder="Leave empty if you have selected the image above">
    </p>

    <button id="connect" class="btn btn-outline-success mt-3 w-100" onclick="connectToRoom()">Start an Instance Chat</button>
</form>
