<select class="custom-select m-1" id="myType">
    <option selected value="any">Any Entity</option>
    <option value="Person">Person</option>
    <option value="Organization">Organization</option>
    <option value="Place">Place</option>
    <option value="Book">Book</option>
    <option value="Event">Event</option>
    <option value="LocalBusiness">Local Business</option>
    <option value="Movie">Movie</option>
    <option value="Periodical">Periodical</option>
    <option value="MusicGroup">Music Group</option>
    <option value="MusicRecording">Music Recording</option>
    <option value="SportsTeam">Sports Team</option>
    <option value="TVEpisode">TV Episode</option>
    <option value="TVSeries">TV Series</option>
    <option value="VideoGame">Video Game</option>
    <option value="WebSite">WebSite</option>
</select>
<input id="myKGInput" onclick="widgetInit()" type="text" class="form-control m-1" placeholder="Search as you type">
