body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Hide the scroll bar on IE and Firefox */
html,
body,
#history {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide the scroll bar on Safari and Chrome */
body::-webkit-scrollbar,
#history::-webkit-scrollbar {
  display: none;
}

/*****************************
* css for chat interface
******************************/

#chat_interface {
  height: 100vh;
}

.font-16 {
  font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
}
#canvasBox {
  border-color: #ff0000;
  padding: 4px 6px;
  font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
}

#kgBox {
  padding: 4px 6px;
  border-color: #ff0000;
  font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
}

.white-bg {
  background-color: white;
}

.left-0 {
  left: 0;
}

#history {
  position: absolute;
  left: 0;
  right: 0;
}

#input {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #304352;
  border-radius: 0 !important;
}

/* mouse over link */
a:hover {
  color: red;
}

.alias {
  cursor: pointer;
}

.bg-gradient {
  background-image: linear-gradient(to right, #d7d2cc, #304352);
}

.canvas-max-height {
  max-height: 40vh;
}

.message-box-l {
  margin-right: 60%;
}

.message-box-r {
  margin-left: 60%;
}

.alert-success .alert-secondary {
  background-color: white !important;
}

.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

/*****************************
* css for knowledge graph
******************************/

#widget {
  width: 50vw;
}

.kge-search-picker {
  width: 50px;
  z-index: 1080;
}

.kge-search-picker-no-image {
  width: 0 !important;
}

.kge-search-picker-entity-info {
  padding-left: 0 !important;
}


/*****************************
* @media css for smaller screen
******************************/

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .display-4 {
    font-size: 2.5em !important;
  }
  h2 {
    font-size: 1.5em;
  }
}

a.kg-button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}

a.kg-button:hover{
  border-color: rgba(0,0,0,1);
}

@media all and (max-width:30em){
  a.kg-button{
    display:block;
    margin:0.2em auto;
  }
}